# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dlxww.settings

[deploy:dlxww-server]
url = http://120.78.76.213:6800/
project = dlxww
